body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  color: darkslategrey;
}

body > ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
}

code {
  background-color: mintcream;
}
